:host {
  display: block;

  .c-btn {
    padding: calc(var(--padding) / 1.4) calc(var(--padding) * 1.8);

    color: white;
    font-size: 1.6rem;
    font-weight: bold;

    background: var(--tertiary);
    border-radius: 0.3rem 0.3rem;

    &:focus,
    &:hover {
      background: #e0c45c;
    }

    &--text {
      background: transparent;
      color: #b89de8;

      &:focus,
      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }
}
