@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';
@import './breakpoints.scss';
@import './flex.scss';
@import './grid.scss';

html {
  font-size: 62.5%;

  // Colors
  --primary: #243fdb;
  --secondary: #4681e1;
  --tertiary: #fcdb67;
  --text: #53585e;

  --padding: #{$padding};

  body {
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    color: var(--text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &,
  * {
    box-sizing: border-box;
  }
}
