:host {
  display: block;

  .l-dialog-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background: #00000077;

    .c-dialog {
      padding: var(--padding);

      background-color: #ffffff;
      border-radius: 0.3rem;

      &__message {
        font-weight: bold;
        font-size: 1.6rem;
        padding: var(--padding);
      }

      &__actions {
        padding: var(--padding);
      }
    }

    &--hidden {
      display: none;
    }
  }
}
