<div
  [ngClass]="{
    'l-dialog-wrapper': true,
    'l-flex--middle--center': true,
    'l-dialog-wrapper--hidden': isHidden
  }"
>
  <div
    class="c-dialog"
    *ngIf="!isHidden"
    shrdClickOutside
    (clickOutside)="handleOutsideClick()"
  >
    <p class="c-dialog__message">
      Tem certeza que deseja ir para a outra tela?
    </p>
    <div class="l-flex--middle--center c-dialog__actions">
      <shrd-button text (buttonClicked)="actionClicked.emit($event)">
        NÃO
      </shrd-button>
      <shrd-button text (buttonClicked)="actionClicked.emit($event)">
        SIM
      </shrd-button>
    </div>
  </div>
</div>
